<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="client.tracking.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="client.tracking.gui.Perspective"
            id="cleint.tracking.gui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Itineraries computed by RFS"
            class="client.tracking.gui.RFSView"
            id="client.tracking.gui.view">
      </view>
      <view
            class="client.tracking.gui.OTPView"
            id="client.tracking.gui.tview"
            name="Itineraries computed by OTP"
            restorable="true">
      </view>
      <view
            class="client.tracking.gui.RView"
            id="client.tracking.gui.rview"
            name="Request"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="client.tracking.gui.view">
         </view>
         <view
               id="client.tracking.gui.rview"
               minimized="false"
               relationship="bottom"
               relative="client.tracking.gui.tview">
         </view>
         <view
               id="client.tracking.gui.tview"
               minimized="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Run">
            <command
                  commandId="client.tracking.gui.request"
                  label="Launch request"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="client.tracking.gui.SendRRequest"
            id="client.tracking.gui.request"
            name="client.tracking.gui.request">
      </command>
   </extension>

</plugin>
